
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">                               
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> APPOINTMENT</li> 
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> PROMOTION</li> 
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> DESIGNATION</li>                                
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> SCALE RANGE</li> 
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> SCALE STEP</li>
                        </ul>
                        <hr style="border:1px dashed #0d2d62;"/>
                        
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                     <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">EMPLOYEE & APPOINTMENT</h3></div>
                                     <div class="col-md-6">
                                         <a href="/hrm/addletter" class="btn btn-primary btn-sm pull-right" style="margin:0px 5px">Junior Staff(JS)</a>&nbsp;&nbsp;
                                         <a href="/hrm/addletter" class="btn btn-primary btn-sm pull-right" style="margin:0px 5px">Senior Staff (SS)</a>&nbsp;&nbsp;
                                         <a href="/hrm/addletter" class="btn btn-primary btn-sm pull-right" style="margin:0px 5px">Senior Member (SM)</a>&nbsp;&nbsp;
                                    
                                    </div>
                                 </div>
                            
                                 <!-- JOB STATUS CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable appoint_category">
                                        <thead>
                                            <tr>
                                                <th width="5">GROUP</th>
                                                <th>STAFF NO</th>
                                                <th>FULL NAME</th>                                                                                    
                                                <th>JOB TITLE</th>
                                                <th>UNIT</th>
                                                <th>SCALE</th>                                               
                                                <th>APPOINTMENT</th>
                                                <th>&nbsp;</th>                                        
                                            </tr>
                                        </thead>                                        
                                        <tbody> 
                                             <tr>   
                                                  <td>( SM )</td>                                               
                                                  <td>15666</td> 
                                                  <td>ACKAH, EBENEZER KWABENA BLAY</td>  
                                                  <td>SENIOR ICT ASSISTANT</td> 
                                                  <td>MIS - DICTS</td> 
                                                  <td><a href="/hrm/appoint">17H</a></td>                                                  
                                                  <td>FEB 28, 2018  <a class="btn btn-primary btn-sm  btn-icon btn-left" title="View Appointment Letter" href="#"><i class="icon fa fa-file-text-o "></i></a></td>
                                                  <td>                                                      
                                                       <div class="group group-xl">                                                       
                                                          <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-archive"></i>  FILE</a>
                                                          <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-clipboard-account"></i></a>                                                                                                               
                                                       </div>
                                                                                                    
                                                  </td>                                                                                                                          
                                              </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                          </div>                        




                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                              <!-- TITLE -->
                              <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                  <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">SCALE</h3></div>
                                  <div class="col-md-6"><a href="/hrm/addscale" class="btn btn-primary btn-sm pull-right">Add New Scale</a></div>
                              </div>
                         
                              <!-- JOB STATUS CONTENT -->
                              <div class="table-responsive clearfix">
                                 <table class="table table-bordered  dataTable appoint_category">
                                     <thead>
                                         <tr>
                                             <th width="5">GROUP</th>
                                             <th>STAFF NO</th>
                                             <th>FULL NAME</th>                                                                                    
                                             <th>JOB TITLE</th>
                                             <th>UNIT</th>
                                             <th>SCALE</th>                                               
                                             <th>APPOINTMENT</th>
                                             <th>&nbsp;</th>                                        
                                         </tr>
                                     </thead>                                        
                                     <tbody> 
                                          <tr>   
                                               <td>( SM )</td>                                               
                                               <td>15666</td> 
                                               <td>ACKAH, EBENEZER KWABENA BLAY</td>  
                                               <td>SENIOR ICT ASSISTANT</td> 
                                               <td>MIS - DICTS</td> 
                                               <td><a href="/hrm/appoint">17H</a></td>                                                  
                                               <td>FEB 28, 2018  <a class="btn btn-primary btn-sm  btn-icon btn-left" title="View Appointment Letter" href="#"><i class="icon fa fa-file-text-o "></i></a></td>
                                               <td>                                                      
                                                    <div class="group group-xl">                                                       
                                                       <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-archive"></i>  FILE</a>
                                                       <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-clipboard-account"></i></a>                                                                                                               
                                                    </div>
                                                                                                 
                                               </td>                                                                                                                          
                                           </tr>                                            
                                     </tbody>
                                 </table>
                             </div>
                       </div>                        



                       <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                          <!-- TITLE -->
                          <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                              <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">TEMPLATES & LETTER DRAFTS</h3></div>
                              <div class="col-md-6"><a href="/hrm/addstaff" class="btn btn-primary btn-sm pull-right">Add New Template</a></div>
                          </div>
                     
                          <!-- JOB STATUS CONTENT -->
                          <div class="table-responsive clearfix">
                             <table class="table table-bordered  dataTable appoint_category">
                                 <thead>
                                     <tr>
                                         <th width="5">GROUP</th>
                                         <th>STAFF NO</th>
                                         <th>FULL NAME</th>                                                                                    
                                         <th>JOB TITLE</th>
                                         <th>UNIT</th>
                                         <th>SCALE</th>                                               
                                         <th>APPOINTMENT</th>
                                         <th>&nbsp;</th>                                        
                                     </tr>
                                 </thead>                                        
                                 <tbody> 
                                      <tr>   
                                           <td>( SM )</td>                                               
                                           <td>15666</td> 
                                           <td>ACKAH, EBENEZER KWABENA BLAY</td>  
                                           <td>SENIOR ICT ASSISTANT</td> 
                                           <td>MIS - DICTS</td> 
                                           <td><a href="/hrm/appoint">17H</a></td>                                                  
                                           <td>FEB 28, 2018  <a class="btn btn-primary btn-sm  btn-icon btn-left" title="View Appointment Letter" href="#"><i class="icon fa fa-file-text-o "></i></a></td>
                                           <td>                                                      
                                                <div class="group group-xl">                                                       
                                                   <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-archive"></i>  FILE</a>
                                                   <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-clipboard-account"></i></a>                                                                                                               
                                                </div>
                                                                                             
                                           </td>                                                                                                                          
                                       </tr>                                            
                                 </tbody>
                             </table>
                         </div>
                   </div>                        



                   <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                      <!-- TITLE -->
                      <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                          <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">SIGNATORIES</h3></div>
                          <div class="col-md-6"><a href="/hrm/addsigner" class="btn btn-primary btn-sm pull-right">Add Signatory</a></div>
                      </div>
                 
                      <!-- JOB STATUS CONTENT -->
                      <div class="table-responsive clearfix">
                         <table class="table table-bordered  dataTable appoint_category">
                             <thead>
                                 <tr>
                                     <th width="5">GROUP</th>
                                     <th>STAFF NO</th>
                                     <th>FULL NAME</th>                                                                                    
                                     <th>JOB TITLE</th>
                                     <th>UNIT</th>
                                     <th>SCALE</th>                                               
                                     <th>APPOINTMENT</th>
                                     <th>&nbsp;</th>                                        
                                 </tr>
                             </thead>                                        
                             <tbody> 
                                  <tr>   
                                       <td>( SM )</td>                                               
                                       <td>15666</td> 
                                       <td>ACKAH, EBENEZER KWABENA BLAY</td>  
                                       <td>SENIOR ICT ASSISTANT</td> 
                                       <td>MIS - DICTS</td> 
                                       <td><a href="/hrm/appoint">17H</a></td>                                                  
                                       <td>FEB 28, 2018  <a class="btn btn-primary btn-sm  btn-icon btn-left" title="View Appointment Letter" href="#"><i class="icon fa fa-file-text-o "></i></a></td>
                                       <td>                                                      
                                            <div class="group group-xl">                                                       
                                               <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-archive"></i>  FILE</a>
                                               <a class="btn btn-default btn-sm" href="#"><i class="mdi mdi-clipboard-account"></i></a>                                                                                                               
                                            </div>
                                                                                         
                                       </td>                                                                                                                          
                                   </tr>                                            
                             </tbody>
                         </table>
                     </div>
               </div>   
               
               

            <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
            
                <!-- TITLE -->
                <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                    <div class="col-md-6">
                        <h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">SCALE</h3>
                    </div>
                    <div class="col-md-6">
                        <a href="/hrm/addscale" class="btn btn-primary btn-sm pull-right">Add New Scale</a>
                    </div>
                </div>
            
                <!-- JOB STATUS CONTENT -->
                <div class="table-responsive clearfix">
                    <table class="table table-bordered  dataTable appoint_category">
                        <thead>
                            <tr>
                                <th width="5">GROUP</th>
                                <th>STAFF NO</th>
                                <th>FULL NAME</th>
                                <th>JOB TITLE</th>
                                <th>UNIT</th>
                                <th>SCALE</th>
                                <th>APPOINTMENT</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>( SM )</td>
                                <td>15666</td>
                                <td>ACKAH, EBENEZER KWABENA BLAY</td>
                                <td>SENIOR ICT ASSISTANT</td>
                                <td>MIS - DICTS</td>
                                <td>
                                    <a href="/hrm/appoint">17H</a>
                                </td>
                                <td>FEB 28, 2018
                                    <a class="btn btn-primary btn-sm  btn-icon btn-left" title="View Appointment Letter" href="#">
                                        <i class="icon fa fa-file-text-o "></i>
                                    </a>
                                </td>
                                <td>
                                    <div class="group group-xl">
                                        <a class="btn btn-default btn-sm" href="#">
                                            <i class="mdi mdi-archive"></i> FILE</a>
                                        <a class="btn btn-default btn-sm" href="#">
                                            <i class="mdi mdi-clipboard-account"></i>
                                        </a>
                                    </div>
            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>






                        </div>
                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>