   <!-- Scripts -->
   <script src="/public/plugins/tinymce/tinymce.min.js"></script>
   <script>tinymce.init({ selector:'textarea' });</script>
     
     
     <main class="page-content">     
        <section class="section-30 section-md-50">
          <div class="container">
             
              <div class="cell-md-8 cell-sm-10">
                  <section class="text-left">
                      <h6 class="text-bold">HR LETTER SIGNATORY FORM</h6>
                      <div class="text-subline"></div>
                  <form name="" method="post" action="" enctype="application/x-www-form-urlencoded">
                      <div class="range offset-top-7">
                        <div class="cell-sm-3">
                          <div class="form-group">
                            <label class="form-label form-label-outside rd-input-label focus not-empty" for="gender">Gender</label>
                            <select class="form-control select-filter" id="gender" data-placeholder="Choose Gender" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                <option>Choose Gender</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                            </select>                                
                          </div>
                        </div>
                        <div class="cell-sm-9 offset-top-17 offset-sm-top-0">
                          <div class="range">
                            <div class="cell-sm-4">
                              <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label" for="fname">First Name</label>
                                <input class="form-control form-control-has-validation form-control-last-child" id="fname" type="text" name="fname" data-constraints="@Required"><span class="form-validation"></span>
                              </div>
                            </div>
                            <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                              <div class="form-group">
                                <label class="form-label form-label-outside rd-input-label" for="mname">Middle Name(s)</label>
                                <input class="form-control form-control-has-validation form-control-last-child" id="mname" type="text" name="mname" data-constraints="@Required"><span class="form-validation"></span>
                              </div>
                            </div>
                            <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="lname">Last Name</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="lname" type="text" name="lname" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Line 2 -->
                      <div class="range offset-top-17">                          
                          <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                            <div class="range">
                              <div class="cell-sm-3">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="dob">Date of Birth</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="dob" type="date" name="dob" data-constraints="@Required"><span class="form-validation"></span>
                                  </div>
                              </div>
                              <div class="cell-sm-3">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="birth_place">Place of Birth</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="birth_place" type="text" name="birth_place" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                              </div>
                              <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="hometown">Home Town</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="hometown" type="text" name="hometown" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                              </div>
                              <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="district">District</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="district" type="text" name="district" data-constraints="@Required"><span class="form-validation"></span>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>


                         <!-- Line 3 -->
                      <div class="range offset-top-17">                          
                          <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                            <div class="range">
                              <div class="cell-sm-3">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="region">Region</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="region" type="text" name="region" data-constraints="@Required"><span class="form-validation"></span>
                                  </div>
                              </div>
                              <div class="cell-sm-3">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="country">Nationality</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="country" type="text" name="country" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                              </div>
                              <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="phone">Phone</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="phone" type="integer" name="phone" data-constraints="@Required @IsNumeric"><span class="form-validation"></span>
                                </div>
                              </div>
                              <div class="cell-sm-3 offset-top-17 offset-sm-top-0">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="email">E-mail Address</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="email" type="email" name="email" data-constraints="@Required @Email"><span class="form-validation"></span>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Line 4 -->
                        <div class="offset-top-17">
                            <div class="form-group">
                              <label class="form-label form-label-outside rd-input-label" for="address">Home Address</label>
                              <textarea class="form-control form-control-has-validation form-control-last-child" id="address" name="address" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                            </div>
                        </div>


                           <!-- Line 5 -->
                      <div class="range offset-top-17">                          
                          <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                            <div class="range">
                              <div class="cell-sm-4">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="father">Father's Full Name</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="father" type="text" name="father" data-constraints="@Required"><span class="form-validation"></span>
                                  </div>
                              </div>
                              <div class="cell-sm-4">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="father_hometown">Father's Home Town</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="father_hometown" type="text" name="father_hometown" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                              </div>
                              <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                                <div class="form-group">
                                  <label class="form-label form-label-outside rd-input-label" for="father_address">Father's Address</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="father_address" type="text" name="father_address" data-constraints="@Required"><span class="form-validation"></span>
                                </div>
                              </div>                              
                            </div>
                          </div>
                        </div>

                           <!-- Line 6 -->
                           <div class="range offset-top-17">                          
                              <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                                <div class="range">
                                  <div class="cell-sm-4">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="mother">Mother's Full Name</label>
                                        <input class="form-control form-control-has-validation form-control-last-child" id="father" type="text" name="mother" data-constraints="@Required"><span class="form-validation"></span>
                                      </div>
                                  </div>
                                  <div class="cell-sm-4">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="mother_hometown">Mother's Home Town</label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="mother_hometown" type="text" name="mother_hometown" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                  </div>
                                  <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="mother_address">Mother's Address</label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="mother_address" type="text" name="mother_address" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                  </div>                              
                                </div>
                              </div>
                            </div>

                             <!-- Line 7 -->
                           <div class="range offset-top-17">                          
                              <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                                <div class="range">
                                  <div class="cell-sm-4">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label focus not-empty" for="gender">Marital Status</label>
                                        <select class="form-control select-filter" id="mstatus" name="mstatus" data-placeholder="Choose Marital Status" data-minimum-results-for-search="Infinity" tabindex="-1" aria-hidden="true">
                                            <option>Choose Marital Status</option>
                                            <option value="SINGLE">Single</option>
                                            <option value="MARRIED">Married</option>
                                        </select>                                
                                      </div>
                                  </div>
                                  <div class="cell-sm-4">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="spouse">Name of Spouse (<em> if married </em>)</label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="spouse" type="text" name="spouse">
                                    </div>
                                  </div>
                                  <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="children_no">Number of Children (<em> if any </em>)</label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="mother_address" type="text" name="mother_address" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                  </div>                              
                                </div>
                              </div>
                            </div>


                         <!-- Line 8 -->
                         <div class="range offset-top-17">                          
                            <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                              <div class="range">
                                  <div class="cell-sm-4">
                                      <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="next_kin">Name of Next of Kin</label>
                                        <input class="form-control form-control-has-validation form-control-last-child" id="next_kin" type="text" name="next_kin">
                                      </div>
                                    </div>
                                <div class="cell-sm-4">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="rel_kin">Relationship to Next of Kin</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="rel_kin" type="text" name="rel_kin">
                                  </div>
                                </div>
                                <div class="cell-sm-4 offset-top-17 offset-sm-top-0">
                                  <div class="form-group">
                                    <label class="form-label form-label-outside rd-input-label" for="kin_address">Address of Next of Kin</label>
                                    <input class="form-control form-control-has-validation form-control-last-child" id="kin_address" type="text" name="kin_address" data-constraints="@Required"><span class="form-validation"></span>
                                  </div>
                                </div>                              
                              </div>
                            </div>
                          </div>


                       <!-- Line 9 -->
                        <div class="offset-top-17">
                            <div class="form-group">
                              <label class="form-label form-label-outside rd-input-label" for="acad_qualification">Educational Qualifications: (<em> State where and when obtained, with details of examinations passed </em>)</label>
                              <textarea class="form-control form-control-has-validation form-control-last-child" id="acad_qualification" name="acad_qualification" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                            </div>
                        </div>
                       


                           <!-- Line 10 -->
                         <div class="range offset-top-17">                          
                            <div class="cell-sm-12 offset-top-17 offset-sm-top-0">
                              <div class="range">
                                  <div class="cell-sm-4">
                                      <div class="form-group">
                                          <!-- CV-->                                       
                                          <label class="form-label form-label-outside rd-input-label">Curriculum Vitae (CV) <em><small>( PDF Version only )</small></em></label>
                                          <input name="cert" id="cert" type="file" multiple="" class="form-control form-control-has-validation form-control-last-child">                                         
                                      </div>
                                  </div>
                                <div class="cell-sm-4">
                                    <div class="form-group">
                                        <!-- CERTIFICATES-->                                       
                                        <label class="form-label form-label-outside rd-input-label" >Professional Certificate(s) <em><small>( PDF Versions only )</small></em></label>
                                        <input name="cert" id="cert" type="file" multiple="" class="form-control form-control-has-validation form-control-last-child">                                         
                                    </div>
                                </div>
                                <div class="cell-sm-4">
                                    <div class="form-group">
                                        <!-- BIRTH-->                                       
                                        <label class="form-label form-label-outside rd-input-label" for="acad_qualification">Certificate of Birth Registration <em><small>( PDF Version only )</small></em></label>
                                        <input name="cert" id="cert" type="file" multiple="" class="form-control form-control-has-validation form-control-last-child">                                         
                                    </div>
                                </div>                           
                              </div>
                            </div>
                          </div>


                        <div class="offset-top-25">
                             <button class="btn btn-primary btn-2x" type="submit">SUBMIT PROFILE</button>
                             <input class="btn" type="reset" value="CLEAR"/>                        
                        </div>
                       <hr/>

                       </form>

                    </section>
              </div>
          </div>
        </section>
        
      </main>
      