
      <main class="page-content section-70 section-md-70">      
        
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-xs-10 cell-lg-12">
                <!-- Responsive-tabs-->
                <div class="responsive-tabs responsive-tabs-classic vertical" data-type="vertical">
                  <ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                    <li>Dashboard</li>
                    <li>Account Info</li>
                    <li onclick="if(!confirm('Do you want to logout')){ return false;}else{ window.location='xindex.html';}">Logout</li>
                  </ul>
                  <div class="resp-tabs-container text-sm-left tabs-group-default" data-group="tabs-group-default">
                    <div>
                        <!-- Content one -->
                        <div class="shell"> 

                            <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                <div class="product col-md-4">
                                  <div class="product-body">
                                    <div class="offset-top-20">
                                      <center class="text-primary"><i class="icon icon-lg mdi mdi-human-male-female"></i></center>
                                    </div>                   
                                    <center class="offset-top-20"><a class="btn btn-primary" href="/hrm/staff"><span>Staff</span></a></center>
                                  </div>
                                  <center class="product-meta-info">
                                    <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                      <li><a class="icon icon-xs mdi mdi-account-plus" href="/addstaff"></a></li>
                                      <li><a class="icon icon-xs fa-eye" href="/hrm/staff"></a></li>
                                    </ul>
                                  </center>
                                </div>
                              </div>


                             <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                               <div class="product col-md-4">
                                 <div class="product-body">
                                   <div class="offset-top-20">
                                     <center class="text-primary"><i class="icon icon-lg mdi mdi-file-multiple"></i></center>
                                   </div>                   
                                   <center class="offset-top-20"><a class="btn btn-primary" href="/hrm/appoint"><span>Appointments <br><br>& Promotions</span></a></center>
                                 </div>
                                 <center class="product-meta-info">
                                   <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                     <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                     <li><a class="icon icon-xs fa-eye" href="/hrm/appoint"></a></li>
                                   </ul>
                                 </center>
                               </div>
                             </div>                    


                             <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                <div class="product col-md-4">
                                  <div class="product-body">
                                    <div class="offset-top-20">
                                      <center class="text-primary"><i class="icon icon-lg mdi mdi-account-convert"></i></center>
                                    </div>                   
                                    <center class="offset-top-20"><a class="btn btn-primary" href="/hrm/leave"><span>Leave</span></a></center>
                                  </div>
                                  <center class="product-meta-info">
                                    <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                      <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                      <li><a class="icon icon-xs fa-eye" href="/hrm/leave"></a></li>
                                    </ul>
                                  </center>
                                </div>
                              </div>


                          <!--
                            <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                <div class="product col-md-4">
                                  <div class="product-body">
                                    <div class="offset-top-20">
                                      <center class="text-primary"><i class="icon icon-lg fa-tasks"></i></center>
                                    </div>                   
                                    <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Job Postings</span></a></center>
                                  </div>
                                  <center class="product-meta-info">
                                    <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                      <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                      <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                    </ul>
                                  </center>
                                </div>
                              </div>


                            <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                <div class="product col-md-4">
                                  <div class="product-body">
                                    <div class="offset-top-20">
                                      <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                    </div>                   
                                    <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Interviews</span></a></center>
                                  </div>
                                  <center class="product-meta-info">
                                    <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                      <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                      <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                    </ul>
                                  </center>
                                </div>
                              </div>                           
                             
                               
                                <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                    <div class="product col-md-4">
                                      <div class="product-body">
                                        <div class="offset-top-20">
                                          <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                        </div>                   
                                        <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Promotions</span></a></center>
                                      </div>
                                      <center class="product-meta-info">
                                        <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                          <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                          <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                        </ul>
                                      </center>
                                    </div>
                                  </div>

                                  
                                  <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                      <div class="product col-md-4">
                                        <div class="product-body">
                                          <div class="offset-top-20">
                                            <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                          </div>                   
                                          <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Transfers</span></a></center>
                                        </div>
                                        <center class="product-meta-info">
                                          <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                            <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                            <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                          </ul>
                                        </center>
                                      </div>
                                    </div>
    
                                    <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                        <div class="product col-md-4">
                                          <div class="product-body">
                                            <div class="offset-top-20">
                                              <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                            </div>                   
                                            <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Appraisals</span></a></center>
                                          </div>
                                          <center class="product-meta-info">
                                            <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                              <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                              <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                            </ul>
                                          </center>
                                        </div>
                                      </div>                                     
                                     

                                        <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                            <div class="product col-md-4">
                                              <div class="product-body">
                                                <div class="offset-top-20">
                                                  <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                                </div>                   
                                                <center class="offset-top-20"><a class="btn btn-primary" href=""><span>Study Leave</span></a></center>
                                              </div>
                                              <center class="product-meta-info">
                                                <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                                  <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                                  <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                                </ul>
                                              </center>
                                            </div>
                                          </div>
                                        -->


                          </div>
                    
                    
                    </div>
                    <div><!-- Content two --> </div>
                    <div><!-- Content three --> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>