
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default"  id="page" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">                               
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> JOB DESIGNATIONS</li> 
                        </ul>
                        <hr style="border:1px dashed #0d2d62;"/>
                        
                        <!-- UNIT & SECTIONS -->
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                     <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">JOB DESIGNATIONS</h3></div>
                                     <div class="col-md-6">
                                         <a href="/hrm/addjob" class="btn btn-primary btn-sm pull-right" style="margin:0px 5px">Add New Designation</a>&nbsp;&nbsp;
                                     </div>
                                 </div>
                            
                                 <!-- UNIT CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable jobserver"> 
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>DESIGNATION</th>
                                                <th>TYPE</th>
                                                <th>YEARS TO NEXT RANK</th>
                                                <th>NO. STAFF</th>
                                               <th>&nbsp;</th>                                        
                                            </tr> 
                                        </thead>   
                                       
                                    </table>
                                </div>
                             </div>                        
                        </div>


                       

                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>