
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" id="page" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">                               
                                <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> SYSTEM LOGS</li> 
                        </ul>
                        <hr style="border:1px dashed #0d2d62;"/>
                        
                        <!-- USER ROLES -->
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                     <div class="col-md-4"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">SYSTEM LOGS</h3></div>
                                     <div class="col-md-8">
                                       </div>
                                 </div>
                            
                                 <!-- USERS CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable cur_log" > 
                                        <thead>
                                            <tr>
                                                <th>STAFF NO</th>
                                                <th>ACTION</th>                                                                                    
                                                <th>DATETIME</th>
                                                <th>IP ADDRESS</th>
                                                <th>&nbsp;</th>                                        
                                            </tr>
                                        </thead>   
                                       <!--<tbody> 
                                            <% 
                                                logs.map(log => {
                                            %>  
                                            <tr>   
                                               
                                                <td><%= log.staff_no %></td> 
                                                <td><%= log.action %></td>  
                                                <td><%- log.datetime %></td> 
                                                <td><%= log.ipaddress %></td> 
                                                <td>                                                      
                                                    <div class="group group-xl">                                                       
                                                        <a class="btn btn-default btn-sm" href="/hrm/edituser/" title="Update Staff Roles"><i class="fa fa-edit"></i> Update Access</a>
                                                        <a class="btn btn-default btn-sm" href="/hrm/remaccess/" title="Remove Staff Roles"><i class="fa fa-trash"></i> Remove Access</a>
                                                    </div>
                                                </td>                                                                                                                          
                                            </tr>     
                                            <% }) %>                                       
                                        </tbody>--> 
                                    </table>
                                </div>
                             </div>                        
                        </div>





                       
                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>