
      <main class="page-content section-70 section-md-70">       
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-12 cell-lg-12">                                   
                    <div class="">  
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" id="page" data-type="horizontal" style="width: 100%;">
                            <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> ACTIVE NSS PERSONNELS</li>  
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> INACTIVE NSS PERSONNELS</li>  
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> NSS REPORT</li>
                            </ul>
                        <hr style="border:1px dashed #0d2d62;display:block;"/>
                          
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                                <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                    <!-- TITLE -->
                                    <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                        <div class="col-md-1 cell-xs-12">
                                            <a href="/hrm/dash" class="btn btn-warning btn-sm pull-left" style="margin:0px"><i class="fa fa-home fa-lg"></i></a>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-10 cell-xs-12">
                                          <h3 class="pull-left" style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">ACTIVE PERSONNELS</h3>
                                        
                                           <div class="btn-group pull-right">
                                               <a href="/hrm/addnss" class="btn btn-sm btn-warning"><i class="fa fa-user-plus"></i> <b>ADD NSS PERSONNEL</b></a>
                                           </div>
                                        </div>
                                    </div>
                                   <!-- JOB STATUS CONTENT --> 
                                    <div class="table-responsive clearfix">
                                            <table class="table table-bordered dataTable nss_active" style="text-align:center">
                                                    <thead>
                                                        <tr>                                               
                                                            <th width="150px">NSS NO</th>
                                                            <th>FULL NAME</th>
                                                            <th>GENDER</th> 
                                                            <th>PHONE</th>    
                                                            <th>EMAIL</th>                                         
                                                            <th>UNIT</th>  
                                                            <th>ENTRY YEAR</th>
                                                            <th>EXIT YEAR</th>
                                                            <th>ACTION</th>                                        
                                                        </tr>
                                                    </thead>                         
                                             </table>
                                    </div>
                                </div>


                                <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                        <!-- TITLE -->
                                        <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                            <div class="col-md-1 cell-xs-12">
                                                <a href="/hrm/dash" class="btn btn-warning btn-sm pull-left" style="margin:0px"><i class="fa fa-home fa-lg"></i></a>&nbsp;&nbsp;
                                            </div>
                                            <div class="col-md-11 cell-xs-12"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">INACTIVE NSS PERSONNELS</h3></div>
                                        </div>
                                    
                                        <!-- JOB STATUS CONTENT --> 
                                        <div class="table-responsive clearfix">
                                                <table class="table table-bordered dataTable nss_inactive" style="text-align:center">
                                                     <thead>
                                                         <tr>                                               
                                                             <th width="150px">NSS NO</th>
                                                             <th>FULL NAME</th>
                                                             <th>GENDER</th> 
                                                             <th>PHONE</th>    
                                                             <th>EMAIL</th>                                         
                                                             <th>UNIT</th>  
                                                             <th>ENTRY YEAR</th>
                                                             <th>EXIT YEAR</th>
                                                             <th>ACTION</th>                                        
                                                         </tr>
                                                     </thead>                              
                                                 </table>
                                        </div>
                                    </div>  
      
                                

                                <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                       <!-- TITLE -->
                                        <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                            <div class="col-md-4"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">REPORT</h3></div>
                                            <div class="col-md-8">
                                               
                                           </div>
                                         </div>
                                   
                                        <!-- STAFF REPORT --> 
                                        
                                       <div class="table-responsive clearfix">
                                            <table class="table table-bordered" style="text-align:center;font-size:25px;">
                                                <thead>
                                                    <tr>                                               
                                                        <th align="center">CUSTOMIZED REPORTS - STAFF</th>
                                                        <th width="300px">&nbsp;</th>                                        
                                                    </tr>
                                                </thead> 
                                                <tbody>
                                                        <tr>                                               
                                                            <td>
                                                                <p class="btn" style="font-size:30px;">
                                                                       ALL SENIOR MEMBER STAFF
                                                                </p>
                                                            </td>
                                                            <th>
                                                               <a href="/strep1" class=""><i class="btn btn-sm btn-success mdi mdi-file-excel-box icon-sm"></i></a>
                                                              <!--<a href="" class=""><i class="btn btn-sm btn-danger mdi mdi-file-pdf-box icon-sm"></i></a>-->
                                                               
                                                            </th>                                        
                                                        </tr>
                                                        <tr>                                               
                                                            <td>
                                                                <p class="btn" style="font-size:30px;">
                                                                        ALL SENIOR STAFF
                                                                </p>
                                                            </td>
                                                            <th>
                                                                <a href="/strep2" class=""><i class="btn btn-sm btn-success mdi mdi-file-excel-box icon-sm"></i></a>
                                                              <!--  <a href="" class=""><i class="btn btn-sm btn-danger mdi mdi-file-pdf-box icon-sm"></i></a> -->
                                                                
                                                            </th>                                        
                                                        </tr>

                                                        <tr>                                               
                                                                <td>
                                                                    <p class="btn" style="font-size:30px;">
                                                                            ALL JUNIOR STAFF
                                                                    </p>
                                                                </td>
                                                                <th>
                                                                    <a href="/strep3" class=""><i class="btn btn-sm btn-success mdi mdi-file-excel-box icon-sm"></i></a>
                                                                  <!--  <a href="" class=""><i class="btn btn-sm btn-danger mdi mdi-file-pdf-box icon-sm"></i></a> -->
                                                                    
                                                                </th>                                        
                                                       </tr>
                                                       <tr>                                               
                                                                <td>
                                                                    <p class="btn" style="font-size:30px;">
                                                                            ALL UCC STAFF
                                                                    </p>
                                                                </td>
                                                                <th>
                                                                    <a href="/strep4" class=""><i class="btn btn-sm btn-success mdi mdi-file-excel-box icon-sm"></i></a>
                                                                <!--  <a href="" class=""><i class="btn btn-sm btn-danger mdi mdi-file-pdf-box icon-sm"></i></a> -->
                                                                    
                                                                </th>                                        
                                                        </tr>
                                                        <tr>                                               
                                                                <td>
                                                                    <p class="btn" style="font-size:30px;">
                                                                            ALL RETIRED STAFF 
                                                                    </p>
                                                                </td>
                                                                <th>
                                                                    <a href="/strep5" class=""><i class="btn btn-sm btn-success mdi mdi-file-excel-box icon-sm"></i></a>
                                                                <!--  <a href="" class=""><i class="btn btn-sm btn-danger mdi mdi-file-pdf-box icon-sm"></i></a> -->
                                                                    
                                                                </th>                                        
                                                        </tr>
                                                       
                                                </tbody>                                 
                                            </table>
                                        </div>
                                </div>
                     
                        </div>
                    </div>
                </div>
            </div>   
          </div>        
        </section>
      
      </main>

