
      <main class="page-content section-70 section-md-70">       
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-12 cell-lg-12">                                   
                    <div class="">  
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" id="page" data-type="horizontal" style="width: 100%;">
                            <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> PAPERS</li>  
                            </ul>
                        <hr style="border:1px dashed #0d2d62;display:block;"/>
                          
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                                <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                    <!-- TITLE -->
                                    <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                        <div class="col-md-1 cell-xs-12">
                                            <a href="/hrm/dash" class="btn btn-warning btn-sm pull-left" style="margin:0px"><i class="fa fa-home fa-lg"></i></a>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-10 cell-xs-12">
                                          <h3 class="pull-left" style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">SUBMITTED JOURNALS & MEMOS</h3>
                                        
                                           <div class="btn-group pull-right">
                                               <a href="/hrm/addpaper" class="btn btn-sm btn-warning"><i class="fa fa-plus"></i> <b>ADD PAPER</b></a>&nbsp;&nbsp;
                                               <a href="/hrm/adddoc" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> <b>ADD DOCUMENT</b></a>
                                               <a href="javascript:;" class="btn btn-primary btn-sm" onclick="var ins = prompt('Enter Staff Number!'); if(ins != null){alert('Papers for Staff Number : '+ins);location.href='/hrm/paper/list/'+ins}">VIEW PAPERS</a>
                                                  
                                           </div>
                                        </div>
                                    </div>
                                   <!-- JOB STATUS CONTENT --> 
                                    <div class="table-responsive clearfix">
                                            <table class="table table-bordered dataTable paper" style="text-align:center">
                                                    <thead>
                                                        <tr>                                               
                                                            <th width="150px">PAPER TITLE</th>
                                                            <th>AUTHOR</th>
                                                            <th>TYPE</th>    
                                                            <th>AUTHENTICITY</th>                                         
                                                            <th>USAGE</th>  
                                                            <th>RESOURCE</th>
                                                            <th>ACTION</th>
                                                        </tr>
                                                    </thead>                         
                                             </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>   
          </div>        
        </section>
      
      </main>

