      <script>
          
          
      </script>
      <main class="page-content section-70 section-md-70">       
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-12 cell-lg-12">                                   
                    <div class="">  
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" id="page" data-type="horizontal" style="width: 100%;">
                            <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> CURRENT POSITIONS</li>
                                    <li><i class="icon icon-xs mdi mdi-arrow-left-bold-hexagon-outline"></i> POSITION HISTORY</li>  
                            </ul>
                        <hr style="border:1px dashed #0d2d62;display:block;"/>
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                                <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                    <!-- TITLE -->
                                    <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                        <div class="col-md-1 cell-xs-12">
                                            <a href="/hrm/dash" class="btn btn-warning btn-sm pull-left" style="margin:0px"><i class="fa fa-home fa-lg"></i></a>&nbsp;&nbsp;
                                        </div>
                                        <div class="col-md-4 cell-xs-12"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">CURRENT POSITIONS </h3></div>
                                        <div class="col-md-7 cell-xs-12">
                                           
                                            <div class="btn-group pull-right">
                                                  <a href="javascript:;" class="btn btn-primary btn-sm" onclick="var ins = prompt('Enter Staff Number!'); if(ins != null){alert('Statistics for Staff Number : '+ins);location.href='/hrm/position/stats/'+ins}">VIEW HISTORY OF STAFF</a>
                                                  <a class="btn btn-sm btn-primary" onclick="return confirm('Add existing position record of a Staff?')" href="/hrm/addposition?tp=exst" style="margin:0 10px;">ADD EXISTING POSITION</a>
                                                  <a class="btn btn-sm btn-primary" onclick="return confirm('Assign Position to Staff?')" href="/hrm/addposition?tp=new">ADD NEW POSITION</a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                
                                    <!-- JOB STATUS CONTENT --> 
                                    <div class="table-responsive clearfix">
                                            <table class="table table-bordered dataTable position_current" style="text-align:center">
                                                 <thead>
                                                     <tr>                                               
                                                         <th width="150px">STAFF NO</th>
                                                         <th>FULL NAME</th>
                                                         <th>START DATE</th> 
                                                         <th>END DATE</th>                                         
                                                         <th>MAIN UNIT</th>
                                                         <th>POST</th>    
                                                         <th>ACTION</th>                                        
                                                     </tr>
                                                 </thead>                              
                                            </table>
                                    </div>
                                </div>
      
                        </div>

                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">                          
                            <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                <!-- TITLE -->
                                <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:10px 20px;font-style:italic">
                                    <div class="col-md-1 cell-xs-12">
                                        <a href="/hrm/dash" class="btn btn-warning btn-sm pull-left" style="margin:0px"><i class="fa fa-home fa-lg"></i></a>&nbsp;&nbsp;
                                    </div>
                                    <div class="col-md-11 cell-xs-12"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">POSITION HISTORY </h3></div>
                                   
                                </div>
                            
                                <!-- JOB STATUS CONTENT --> 
                                <div class="table-responsive clearfix">
                                        <table class="table table-bordered dataTable position_history" style="text-align:center">
                                             <thead>
                                                 <tr>                                               
                                                     <th width="150px">STAFF NO</th>
                                                     <th>FULL NAME</th>
                                                     <th>START DATE</th> 
                                                     <th>END DATE</th>                                         
                                                     <th>MAIN UNIT</th>
                                                     <th>POST</th>    
                                                     <th>ACTION</th>                                        
                                                 </tr>
                                             </thead>                              
                                        </table>
                                </div>
                            </div>
  
                        </div>

                    
                    </div>
                </div>
            </div>   
          </div>        
        </section>
      
      </main>

