
       
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background:rgb(26, 25, 93);">
                        <h3 class="panel-title"><i class="fa fa-user-circle"></i> ALL SUBMITTED PAPERS
                            <a href="javascript:;" target="_blank" class="btn btn-danger pull-right btn-sm" onclick="window.frames['printf'].focus();window.frames['printf'].print();"><i class="fa fa-print"></i> Print</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                            <% if(data.length > 0) { %>
                            <iframe id="printf" name="printf" src="/hrm/paper/list/<%= user.staff_no %>" style="width:100%;height:650px;margin:-10px auto 10px;border:2px solid brown;  transform: scale(1); transform-origin: 0 0;"></iframe>
                            <% }else{ %>
                                <div class="jumbotron">
                                        <p class="text-center text-warning" style="font-weight:400;font-style:italic">NO PAPER SUBMITTED!<br><center><small><b>PLEASE NOTE THAT DHR IS STILL UPDATING STAFF RECORDS!</b> </small></center></p>
                                </div>   
                            <% } %>
                    </div>
                </div>
            </div>

        </div>

   
