      
         <!-- Managers Dashboard -->
        
         
        
        <div class="row">
            <!-- STAFF OVERVIEW PAGE -->
           <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user-circle"></i> <%- data[0].toUpperCase();%></h3>
                    </div>
                    <div class="panel-body">
                          <!-- Page Content -->
                          <%- include('../partials/'+data[1]); %>
                    </div>
                </div>
            </div>

        </div>
  
         