<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="/public/css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title veil-md">Shop</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-top-panel-toggle veil-md" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
               
               
                <div class="rd-navbar-top-panel">
                  <div class="rd-navbar-top-panel-left-part">
                    <ul class="list-unstyled">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                          <div class="unit-body text-bold" style="opacity:0.5;">UNIVERSAL DASHBOARD </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                          <div class="unit-body"><a href="#">WELCOME, EBENEZER KWABENA BLAY</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><span style="opacity:0.5;">UNIVERSITY STAFF ID :</span> 102934</div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="rd-navbar-top-panel-right-part">
                    <div class="rd-navbar-top-panel-left-part">
                      <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-sign-out text-middle"></span></div>
                        <div class="unit-body"><a href="#">LOGOUT</a></div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
             
            </div>
          </nav>
        </div>
      </header>
      <!-- Classic Breadcrumbs-->
      <section class="breadcrumb-classic context-dark" style="background:rgba(184,9,36,0.6) url(/public/images/bg1.png) repeat-x 0 25%;">
        <div class="shell section-30 section-sm-top-70 section-sm-bottom-60 right">
          <h4 class="veil reveal-sm-block text-bold text-italic" style="text-shadow:0 0 8px rgb(218, 16, 16);position:relative;top:45px;left:100px">Welcome, Ebenezer Kwabena Blay</h4>      
        </div>
        <div class="profile_pic" style="position:absolute;right:16%;top:35%;"><img style="display:block;width:100px;height:100px;border:5px solid #171949;border-radius:50%;box-shadow:0 0 5px #000;" src="/public/images/logo-170x172.png" alt="" title=""/></div>
      </section>
      <!-- Page Content-->
      <main class="page-content section-70 section-md-70">      
        
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-xs-10 cell-lg-12">
                <!-- Responsive-tabs-->
                <div class="responsive-tabs responsive-tabs-classic vertical" data-type="vertical">
                  <ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                    <li>Dashboard</li>
                    <li>Account Info</li>
                    <li onclick="if(!confirm('Do you want to logout')){ return false;}else{ window.location='xindex.html';}">Logout</li>
                  </ul>
                  <div class="resp-tabs-container text-sm-left tabs-group-default" data-group="tabs-group-default">
                    <div>
                        <!-- Content one -->
                        <div class="shell">                           
                             <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                               <div class="product col-md-4">
                                 <div class="product-body">
                                   <div class="offset-top-20">
                                     <center class="text-primary"><i class="icon icon-lg fa-users"></i></center>
                                   </div>                   
                                   <center class="offset-top-20"><a class="btn btn-primary" href=""><span>HRMS</span></a></center>
                                 </div>
                                 <center class="product-meta-info">
                                   <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                     <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                     <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                   </ul>
                                 </center>
                               </div>
                             </div>

                             <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                <div class="product col-md-4">
                                  <div class="product-body">
                                    <div class="offset-top-20">
                                      <center class="text-primary"><i class="icon icon-lg fa-tasks"></i></center>
                                    </div>                   
                                    <center class="offset-top-20"><a class="btn btn-primary" href=""><span>UCCOSIS</span></a></center>
                                  </div>
                                  <center class="product-meta-info">
                                    <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                      <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                      <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                    </ul>
                                  </center>
                                </div>
                              </div>

                              <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                  <div class="product col-md-4">
                                    <div class="product-body">
                                      <div class="offset-top-20">
                                        <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                      </div>                   
                                      <center class="offset-top-20"><a class="btn btn-primary" href=""><span>X-PAY</span></a></center>
                                    </div>
                                    <center class="product-meta-info">
                                      <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                        <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                        <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                      </ul>
                                    </center>
                                  </div>
                                </div>
                               
                                <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                    <div class="product col-md-4">
                                      <div class="product-body">
                                        <div class="offset-top-20">
                                          <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                        </div>                   
                                        <center class="offset-top-20"><a class="btn btn-primary" href=""><span>PORTAL</span></a></center>
                                      </div>
                                      <center class="product-meta-info">
                                        <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                          <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                          <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                        </ul>
                                      </center>
                                    </div>
                                  </div>

                                  
                                  <div class="cell-xs-10 cell-lg-3 cell-sm-6 cell-md-4 offset-top-30 offset-lg-top-0">               
                                      <div class="product col-md-4">
                                        <div class="product-body">
                                          <div class="offset-top-20">
                                            <center class="text-primary"><i class="icon icon-lg fa-money"></i></center>
                                          </div>                   
                                          <center class="offset-top-20"><a class="btn btn-primary" href=""><span>X-PAY</span></a></center>
                                        </div>
                                        <center class="product-meta-info">
                                          <ul class="list-inline list-inline-dark list-inline-lg">                                    
                                            <li><a class="icon icon-xs fa-exchange" href="#"></a></li>
                                            <li><a class="icon icon-xs fa-eye" href="#"></a></li>
                                          </ul>
                                        </center>
                                      </div>
                                    </div>
                              </div>
                    
                    
                    </div>
                    <div><!-- Content two --> </div>
                    <div><!-- Content three --> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="page-footer">
        <div class="shell-wide">
          <div class="hr bg-gray-light"></div>
        </div>
       
        <div class="bg-madison context-dark">
          <div class="shell text-md-left section-5">
            <p>Copyright &copy; <span id="copyright-year"></span> DICTS, All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
   
    <!-- Java script-->
    <script src="/public/js/core.min.js"></script>
    <script src="/public/js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>