<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <title>HRMS - APPLICANTS</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/js/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>

    <script type="text/javascript">
             // Calculate Total Score
              function getScore(){
                    //var am = parseInt(document.getElementById('am').value);
                    var bm = parseInt(document.getElementById('bm').value);
                    var cm = parseInt(document.getElementById('cm').value);
                    var dm = parseInt(document.getElementById('dm').value);
                    var em = parseInt(document.getElementById('em').value);                    
                    var score = bm+cm+dm+em;
                   
                    return score;
              }          
    
    </script>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title veil-md">HRMS</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-top-panel-toggle veil-md" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
               
               
                <div class="rd-navbar-top-panel">
                  <div class="rd-navbar-top-panel-left-part">
                    <ul class="list-unstyled">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                          <div class="unit-body text-bold" style="opacity:0.5;">UNIVERSAL DASHBOARD </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                          <div class="unit-body"><a href="#">WELCOME TO THE STAFF PORTAL</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><span style="opacity:0.5;">SESSION ID :</span> 102934</div>
                        </div>
                      </li>

                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><span style="opacity:0.5;">STAFF TYPE : </span> <!--SENIOR STAFF | JUNIOR STAFF | SENIOR MEMBER ( NON-TEACHING ) | -->SENIOR MEMBER ( TEACHING )</div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="rd-navbar-top-panel-right-part">
                    <div class="rd-navbar-top-panel-left-part">
                      <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-sign-out text-middle"></span></div>
                        <div class="unit-body"><a href="xindex.html">LOGOUT</a></div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
             
            </div>
          </nav>
        </div>
      </header>
      <!-- Classic Breadcrumbs-->
      <section class="breadcrumb-classic context-dark" style="background:rgba(184,9,36,0.6) url(images/bg2.png) repeat-x 0 25%;">
        <div class="shell section-30 section-sm-top-70 section-sm-bottom-60 right">
          <h4 class="veil reveal-sm-block text-bold text-italic" style="text-shadow:0 0 8px rgb(218, 16, 16);position:relative;top:45px;left:100px">Welcome, Ebenezer Kwabena Blay</h4>      
        </div>
        <div class="profile_pic" style="position:absolute;right:16%;top:25%;"><img style="display:block;width:120px;height:120px;border:5px solid #171949;border-radius:50%;box-shadow:0 0 5px #000; background:#fff" src="/public/images/profile/15667.png" alt="" title=""/></div>
      </section>
      <!-- Sub Header of System ( Containers :) -->
      <div class="sub_header" style="background:#0d2d62;min-height:40px;">
            <div class="container">
                <p class="text-bold pull-left" style="line-height:40px;color:#fff;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                  <span>STAFF PORTAL &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span> 
                  <span>&nbsp;&nbsp;&nbsp;SESSION ID : 40505 </span> 
                </p>

                <div class="pull-right">
                       <a href="" class="btn btn-primary" onclick="if(!confirm('Do you want to apply for a new job offer?')) return false;">Apply New Jobs !</a>
                </div>
            </div>
      </div>
      <!-- Page Content-->
      <main class="page-content">       
        <section class="section-30 section-md-50">
          <div class="container">
             
              <div class="cell-md-8 cell-sm-10">
                  <section class="text-left">
                      <h6 class="text-bold">CONFIDENTIAL ASSESSMENT <SMALL STYLE="COLOR:#999">ON SENIOR MEMBERS - TEACHING</SMALL></h6>
                      <div class="text-subline"></div><BR>

                  <form name="" method="post" action="" enctype="application/x-www-form-urlencoded">

                      
                      <div class="range offset-top-7">
                        <div class="cell-sm-12 cell-md-12">
                            <span>Note: </span>
                            <h6>Assessment of Senior Members should be "<em><b>Qualitative</b></em>" and "<em><b>Quantitative</b></em>" Items (a), (b), (c) & (d), carry a total marks of <b>35</b>, thus graded as below:</b></h6><hr>
                        </div> 
                                            
                              <div class="cell-md-2 cell-sm-2"><b>(a) Excellent = 31 - 35</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(b) Very Good = 26 - 30</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(c) Good = 21 - 25</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(d) Fair ... = 16 - 20</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(e) Poor = 0 - 15</b></div><hr>                              

                              <div class="cell-md-12 cell-sm-12"><b>Items (e) carries a total of 15 Marks, thus graded as below.</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(a) Very Active = 11 - 15</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(b) Active = 6 - 10</b></div>
                              <div class="cell-md-2 cell-sm-2"><b>(c) Less Active = 0 - 5</b></div>                     
                      </div>

                      <div class="range">
                          <div class="cell-sm-12 cell-md-12"><h6>Assessment by Dean of Head of Debt. (to be written by Dean/HoD himself) under the following headings:</h6></div>
                      </div>                    

                        <!-- Line 1 -->
                        <div class="offset-top-17">
                            <div class="range">
                                <div class="cell-sm-10">
                                    <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="address">(a)  Quality of Teaching: <small><em>(15 Marks)</em></small></label>
                                        <textarea class="form-control form-control-has-validation form-control-last-child" id="address" name="a" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                                    </div>
                                </div>
                                <div class="cell-sm-2">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="father_hometown">Marks: <small><em>(15 Mrks.)</em></small></label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="father_hometown" type="number" value="0" name="am" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                         <!-- Line 2 -->
                         <div class="offset-top-17">
                            <div class="range">
                                <div class="cell-sm-10">
                                    <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="b">(b)  Quality of Research & Pubications: <small><em>(10 Marks)</em></small></label>
                                        <textarea class="form-control form-control-has-validation form-control-last-child" id="b" name="b" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                                    </div>
                                </div>
                                <div class="cell-sm-2">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="bm">Marks: <small><em>(10 Mrks.)</em></small></label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="bm" type="number" name="bm" value="0" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Line 3 -->
                        <div class="offset-top-17">
                            <div class="range">
                                <div class="cell-sm-10">
                                    <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="c">(c)  Relations with Students: <small><em>(5 Marks)</em></small></label>
                                        <textarea class="form-control form-control-has-validation form-control-last-child" id="c" name="c" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                                    </div>
                                </div>
                                <div class="cell-sm-2">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="cm">Marks: <small><em>(5 Mrks.)</em></small></label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="cm" type="number" name="cm" value="0" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                         <!-- Line 4 -->
                         <div class="offset-top-17">
                            <div class="range">
                                <div class="cell-sm-10">
                                    <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="d">(d)  Co-operation with Other Faculty Members: <small><em>(5 Marks)</em></small></label>
                                        <textarea class="form-control form-control-has-validation form-control-last-child" id="d" name="d" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                                    </div>
                                </div>
                                <div class="cell-sm-2">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="dm">Marks: <small><em>(5 Mrks.)</em></small></label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="dm" type="number" name="dm" value="0" data-constraints="@Required"><span class="form-validation"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Line 5 -->
                        <div class="offset-top-17">
                            <div class="range">
                                <div class="cell-sm-10">
                                    <div class="form-group">
                                        <label class="form-label form-label-outside rd-input-label" for="e">(e)  General Contribution to Work of the University: (i.e. involvement in activities within and outside the University; e.g. Committee work, Extension work, Public Lectures, etc.: <small><em>(15 Marks)</em></small></label>
                                        <textarea class="form-control form-control-has-validation form-control-last-child" id="e" name="e" data-constraints="@Required" style="height: 100px;"></textarea><span class="form-validation"></span>
                                    </div>
                                </div>
                                <div class="cell-sm-2">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside rd-input-label" for="em">Marks: <small><em>(15 Mrks.)</em></small></label>
                                      <input class="form-control form-control-has-validation form-control-last-child" id="em" type="number" value="0" name="em"  onblur="alert('OnBlur working...')">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="offset-top-25">                         
                                <input class="btn disabled" class="btn btn-primary"type="text" value="SCORE" disabled="disabled"/>
                                <input class="btn disabled" id="score" type="text" value="45" disabled="disabled"/>                        
                        </div>

                         

                        <div class="offset-top-25">
                             <button class="btn btn-primary btn-2x" type="button" onclick="alert('Kobby is good'+getScore());">ENDORSE & SUBMIT</button>
                             <input class="btn" type="reset" value="CLEAR"/>                        
                        </div>
                       <hr/>

                       </form>

                    </section>
              </div>
          </div>
        </section>
        
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="page-footer">
        <div class="shell-wide">
          <div class="hr bg-gray-light"></div>
        </div>
       
        <div class="bg-madison context-dark">
          <div class="shell text-md-left section-5">
            <p>Copyright &copy; <span id="copyright-year"></span> DICTS, All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
   
    <!-- Java script-->
    <script src="/public/js/core.min.js"></script>
    <script src="/public/js/script.js"></script>
     <!-- Jquery DataTable Plugin Js -->
     <script src="/public/js/jquery-datatable/jquery.dataTables.js"></script>
     <script src="/public/js/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/jszip.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/pdfmake.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/vfs_fonts.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.print.min.js"></script>

     <script type="text/javascript">
      $(function () {
              $('.appoint_category').DataTable({
                  dom: 'Bfrtip',
                  responsive: true,
                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print'
                  ]
              });

              //Exportable table
              $('.appoint_letter').DataTable({
                  dom: 'Bfrtip',
                  responsive: true,
                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print'
                  ]
              });
          });
     </script>

  </body>
</html>