<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <title>STAFF PORTAL | LOGIN</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="CiFW-WB0ge4Bz3uemugm33HeFMkSFA5fOcESLSI3KH4" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">
    <link rel="stylesheet" href="/public/css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->

      <style type="text/css">
         input[type="text"],input[type="password"]{
               border-radius:25px;
               border:5px solid #b80924;
               color:#171949;
               color:#b80924 !important;
               box-shadow:0 0 30px #171949 inset;
               text-indent: 25px; 
         }

         input:placeholder{
              color: #000 !important;
         }


              @media (min-width: 768px){
                    .login-cover{
                       border-radius:0 0 25px 25px;
                    }
                    .right-side{
                       border-radius:0 30px 30px 0;
                    }
              }
              /* 
                ##Device = Low Resolution Tablets, Mobiles (Landscape)
                ##Screen = B/w 481px to 767px
              */

              @media (min-width: 481px) and (max-width: 767px) {
                   
                    .login-cover{
                        border-radius:25px;
                    }

                    .right-side{
                        border-radius:30px;
                    }
              }

              /* 
                ##Device = Most of the Smartphones Mobiles (Portrait)
                ##Screen = B/w 320px to 479px
              */

              @media (min-width: 320px) and (max-width: 480px) {
                    .login-cover{
                        border-radius:25px;
                    }
                    .right-side{
                        border-radius:30px;
                    }
                
              }

              /* SPinner */
              .loader {
                  border: 10px solid #eee;; /* Light grey */
                  border-top: 10px solid red; /* Blue */
                  border-radius: 50%;
                  width: 80px;
                  height: 80px;
                  background:#aaa;
                  animation: spin 2s linear infinite;
                  -webkit-animation: spin 2s linear infinite;
                  -moz-animation: spin 2s linear infinite;
              }

              @keyframes spin {
                  0% { transform: rotate(0deg); -webkit-transform:rotate(0deg); -moz-transform: rotate(0deg); -ms-transform:rotate(0deg);}
                  100% { transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg); }
              }

      </style>


  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head" style="position:absolute; left:0; right:0;top:0;background:rgba(0,0,0,0.5);display:none;">
        <!-- RD Navbar Transparent-->
        <div class="container">

        <div class="rd-navbar-wrap">
          <nav class="hidden rd-navbar rd-navbar-transparent rd-navbar--is-stuck" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-stick-up-offset="40" data-lg-auto-height="true" data-auto-height="false" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true" data-md-focus-on-hover="false">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title veil-lg">Home</h4>
              </div>
              <div class="rd-navbar-menu-wrap clearfix">
                <!--Navbar Brand-->
                <div class="rd-navbar-brand"><a class="reveal-inline-block" href="index.html">
                    <div class="unit unit-xs-middle unit-lg unit-lg-horizontal unit-spacing-xxs">
                      <div class="unit-left">
                        <div class="wrap">
                            <img width='170' height='172' src='/public/images/logo-170x172.png' alt=''/>
                          
                        </div>
                      </div>
                      <div class="unit-body text-lg-left">
                        <div class="rd-navbar-brand-title">HUMAN RESOURCE MANAGEMENT SYSTEM</div>
                        <div class="rd-navbar-brand-slogan text-light">POWERED BY DIRECTORATE OF ICT SERVICES, UNIVERSITY OF CAPE COAST.</div>
                      </div>
                    </div></a></div>
               
               
                <!--RD Navbar shop-->
                 <!--  
                      <div class="rd-navbar-cart"><span class="icon fa-shopping-cart"></span><a class="inset-left-10" href="shopping-cart.html">2</a></div>
                 -->
              </div>
            </div>
          </nav>
        </div>

        </div>
      </header>


      <!-- Page Content-->
      <main class="page-content">

        <section>
        
          <!-- Swiper-->
          <div class="swiper-container swiper-slider swiper-slider-3">
            
            <div class="swiper-wrapper"  style="background-position: 0 0;background-image:url(../public/images/bg_login.jpg);background-repeat:no-repeat;background-size:100% 100% ">
             <!--<div class="swiper-slide" data-slide-bg="/public/images/slide-03-1920x810.jpg" style="background-position: 80% center;">-->
              <div class="">
                <div class="swiper-slide-caption header-transparent-slide-caption">
                  <div class="container">
                    <div class="range range-xs-center range-lg-left range-condensed">
                      
                      <div class="hidden-sm hidden-xs cell-md-6 text-md-left cell-xs-10 left-side" style="background:rgba(255,255,255,0.3);border-radius:30px 0 0 30px;padding:30px 40px;">
                        
                        <div data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="1700">
                          <h3 class="text-bold" style="color:#ddcd1e;text-shadow:0 0 3px #000;">UNIVERSITY OF CAPE COAST</h3>
                        </div>
                        <div class="offset-top-0 offset-xs-top-20 offset-xl-top-40" data-caption-animate="fadeInUp" data-caption-delay="150" data-caption-duration="1700">
                          <h5 class="text-italic font-default">Universal system for acsessing university-wide services online.</h5>
                        </div>
                        <div class="offset-top-20 offset-xl-top-40" data-caption-animate="fadeInUp" data-caption-delay="400" data-caption-duration="1700">
                             <div class="reveal-lg-inline-block"><a class="btn btn-primary btn-ellipse veil reveal-lg-inline-block" href="#">DIRECTORATE OF HUMAN RESOURCE </a> <a class="btn btn-madison btn-ellipse" target="_blank" href="/public/media/hrms_guide.pdf">GUIDE</a></div>
                        </div><hr/>

                        <div class="cell-sm-6 cell-md-6 cell-xl-3">
                            <!-- Information in Accordian -->
                            <div style="width:100%;padding: 20px 10px;border-radius:10px;background:rgba(184,9,36,0.6);color:#171949">
                                  <ul class="list list-unstyled list-marked">
                                    <li class="text-bold text-uppercase text-warning">Access : DHR Leave Application Module</li>
                                    <li class="text-bold text-uppercase">Access : DHR Appointment & Promotions Module</li>
                                    <li class="text-bold text-uppercase text-warning">Access : DHR Transfers Module</li>
                                    <li class="text-bold text-uppercase">Access : DHR Circular Module</li>
                                    <li class="text-bold text-uppercase text-warning">Access : Study Leave Module</li>
                                  </ul>
                            </div>
                        </div>
                        
                      </div>



                     <div class="cell-md-4 text-md-left cell-xs-6 right-side" style="background:rgba(255,255,255,0.5) url('/public/images/logo-170x172_.png') no-repeat 90% 50%; opacity:0.9;">
                        <div class="login-cover" style="background:#171949;width:320px;padding:25px 20px;min-height:465px;margin:0 auto;" data-caption-animate="fadeInUp" data-caption-delay="100" data-caption-duration="1700">
                         <h5 class="text-bold" style="color:pink;background:rgba(255,255,255,0.1);padding-left:5px;border-radius:35px;"><img src="/public/images/logo-170x172.png" style="height:30px;background:#fff;border-radius:30px;padding:5px;"/>
                          ||  HRMS - ADMIN LOGIN </h5><hr/> 
                           <center class="mlogo" style="margin:0;padding:3px">
                              <img src="/public/images/hrms.png" style="height:80px;background:#fff;border-radius:25px;padding:5px;"/>
                           </center> 
                           <center class="mloader" style="margin:0;padding:3px; display:none">
                              <div class="loader"></div> 
                             <!-- <img src="/public/images/loader.svg" style="height:80px;background:rgba(255,255,255,0.8);border-radius:40px;padding:5px;"/> -->
                          </center>                         
                          <div class="offset-top-15">
                            <% if(message != undefined || message != null){ %>
                            <div class="alert alert-danger alert-outline offset-top-17" style="border:3px solid rgb(163, 9, 9)">
                                <b><%- message %></b>
                            </div>
                            <% } %>

                            <div class="text-center text-lg-left offset-top-30 context-dark alogin">
                                <!-- <button class="btn btn-primary" type="submit">Login</button>-->
                                <!-- -->
                                  <button  class="btn btn-primary btn-block glogin hidden"><i class="fa fa-google-plus l-m-5"></i> <small> Login with Staff Mail --</small></button>
                                  <a  class="btn btn-primary btn-block klogin" href="/hrm/auth/google"><i class="fa fa-google-plus l-m-5"></i> <small> Login with Staff Mail</small></a>
                                  <button  class="btn btn-success btn-block plogin"><i class="fa fa-lock"></i>  <small> Login with Credentials</small></button><br/><br/>
                               <!--
                                <button  class="btn btn-warning btn-block"><i class="fa fa-calendar l-m-5"></i> <small class="text-bold text-shadow"> HRMS OPENS ON 1ST MAY, 2019.</small></button>
                                <a  href="/public/media/hrms_guide.pdf" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o fa-2x l-m-5"></i> <small class="text-bold text-shadow text-lg" style="font-size:30px"> HRMS GUIDE</small></a>
                                -->  
                            </div>

                            <!-- HR Admin & Moderators -->
                            <form class="text-left mlogin" method="post" action="/login">
                              <div class="offset-top-0">
                                <div class="form-group">
                                  <label class="form-label form-label-outside text-white rd-input-label" for="fill-form-username">STAFF NUMBER</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="fill-form-username" type="text" name="username" placeholder="Enter Staff Number..." >
                                </div>
                              </div>
                              <div class="offset-top-10">
                                <div class="form-group">
                                  <label class="form-label form-label-outside text-white rd-input-label" for="fill-form-password">PASSWORD</label>
                                  <input class="form-control form-control-has-validation form-control-last-child" id="fill-form-password" type="password" name="password" placeholder="Enter Password..." >
                                </div>
                              </div>                                                   
                              <div class="text-center text-lg-left offset-top-30 context-dark">
                               <!-- <button class="btn btn-primary" type="submit">Login</button>-->
                                <button type="submit" class="btn btn-primary">LOGIN</button>
                                <a class="btn btn-success pull-right lback" style="margin-left:5px;"><i class="fa fa-chevron-left"></i> BACK</a>
                              </div>
                            </form><hr/>
                            <center><small>Copyright © <%= new Date().getFullYear() %> MIS - DICTS, All Rights Reserved.</small></center>
                          
                            
                          </div>
                        </div>
                     </div>
                      
                   
                  </div>
                </div>
              </div>              
           
          </div>
        </section>
        <!-- A Few Words About the University-->    
       
      </main>
     
    </div>
   
    
    <!-- Java script-->
    <script src="/public/js/core.min.js"></script>
    <script src="/public/js/script.js"></script>
  </body>
  </html>