<!DOCTYPE html>
<html class="wide wow-animation scrollTo" lang="en">
  <head>
    <!-- Site Title-->
    <title>HRMS - APPLICANTS</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="keywords" content="intense web design multipurpose template">
    <meta name="date" content="Dec 26">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->

    <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700%7CMerriweather:400,300,300italic,400italic,700,700italic">-->
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/js/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/public/js/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">
    
    </style>
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
        <!-- RD Navbar Transparent-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-md-device-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-stick-up-offset="210" data-xl-stick-up-offset="85" data-lg-auto-height="true" data-md-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
                <h4 class="panel-title veil-md">HRMS</h4>
                <!-- RD Navbar Right Side Toggle-->
                <button class="rd-navbar-top-panel-toggle veil-md" data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
               
               
                <div class="rd-navbar-top-panel">
                  <div class="rd-navbar-top-panel-left-part">
                    <ul class="list-unstyled">
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-phone text-middle"></span></div>
                          <div class="unit-body text-bold" style="opacity:0.5;">UNIVERSAL DASHBOARD </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-map-marker text-middle"></span></div>
                          <div class="unit-body"><a href="#">WELCOME TO THE STAFF PORTAL</a></div>
                        </div>
                      </li>
                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><span style="opacity:0.5;">SESSION ID :</span> 102934</div>
                        </div>
                      </li>

                      <li>
                        <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                          <div class="unit-left"><span class="icon mdi mdi-email-open text-middle"></span></div>
                          <div class="unit-body"><span style="opacity:0.5;">STAFF TYPE : </span> <!--SENIOR STAFF | JUNIOR STAFF | SENIOR MEMBER ( NON-TEACHING ) | -->SENIOR MEMBER ( TEACHING )</div>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="rd-navbar-top-panel-right-part">
                    <div class="rd-navbar-top-panel-left-part">
                      <div class="unit unit-horizontal unit-middle unit-spacing-xs">
                        <div class="unit-left"><span class="icon fa fa-sign-out text-middle"></span></div>
                        <div class="unit-body"><a href="xindex.html">LOGOUT</a></div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
             
            </div>
          </nav>
        </div>
      </header>
      <!-- Classic Breadcrumbs-->
      <section class="breadcrumb-classic context-dark" style="background:rgba(184,9,36,0.6) url(/public/images/bg2.png) repeat-x 0 25%;">
        <div class="shell section-30 section-sm-top-70 section-sm-bottom-60 right">
          <h4 class="veil reveal-sm-block text-bold text-italic" style="text-shadow:0 0 8px rgb(218, 16, 16);position:relative;top:45px;left:100px">Welcome, Ebenezer Kwabena Blay</h4>      
        </div>
        <div class="profile_pic" style="position:absolute;right:16%;top:25%;"><img style="display:block;width:120px;height:120px;border:5px solid #171949;border-radius:50%;box-shadow:0 0 5px #000; background:#fff" src="/public/images/profile/15667.png" alt="" title=""/></div>
      </section>
      <!-- Sub Header of System ( Containers :) -->
      <div class="sub_header" style="background:#0d2d62;min-height:40px;">
            <div class="container">
                <p class="text-bold pull-left" style="line-height:40px;color:#fff;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                  <span>STAFF PORTAL &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></span> 
                  <span>&nbsp;&nbsp;&nbsp;SESSION ID : 40505 </span> 
                </p>

                <div class="pull-right">
                       <a href="" class="btn btn-primary" onclick="if(!confirm('Do you want to apply for a new job offer?')) return false;">Apply New Jobs !</a>
                </div>
            </div>
      </div>
      <!-- Page Content-->
      <main class="page-content section-70 section-md-70">   
        
         
        <!-- vertical link Tabs-->
        <section>
          <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-xs-10 cell-lg-12">                   
                    <div class="">
                      <!-- Responsive-tabs-->
                      <div class="responsive-tabs responsive-tabs-boxed vertical resp-vtabs tabs-group-default" data-type="horizontal" style="width: 100%;">
                        <ul class="resp-tabs-list text-center tabs-group-default" data-group="tabs-group-default">
                         <!-- JUNIOR STAFF 
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-0" role="tab">JOB STATUS</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">INBOX</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">PROMOTION</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">TRANSFER</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">LEAVE</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">APPRAISAL</li>
                          <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">REQUESTS</li>
                        -->
                        <!-- SENIOR STAFF 
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-0" role="tab">JOB STATUS</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">INBOX</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">PROMOTION</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">TRANSFER</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">LEAVE</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">APPRAISAL</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">REQUESTS</li>
                        -->
                        <!-- SENIOR MEMBER(NON-TEACHING) 
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-0" role="tab">JOB STATUS</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">INBOX</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">PROMOTION</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">TRANSFER</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">LEAVE</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">APPRAISAL</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">REQUESTS</li>
                        -->
                        <!-- SENIOR MEMBER (TEACHING) -->
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-0" role="tab">JOB STATUS</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">INBOX</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-2" role="tab">PROMOTION</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-3" role="tab">TRANSFER</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-4" role="tab">LEAVE</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-5" role="tab">APPRAISAL</li>
                        <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-6" role="tab">REQUESTS</li>
                  
                       
                        </ul>
                        <hr style="border:2px dashed #0d2d62;"/>
                        <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                          
                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-0">
                                
                                 <!-- TITLE -->
                                 <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                     <div class="col-md-12"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;">JOB APPLICATIONS STATUS</h3></div>
                                 </div>
                            
                                 <!-- JOB STATUS CONTENT -->
                                 <div class="table-responsive clearfix">
                                    <table class="table table-bordered  dataTable appoint_category">
                                        <thead>
                                            <tr>
                                                <th width="50">JOB ID</th>
                                                <th width="150">JOB TITLE</th>                                                                                    
                                                <th width="80">JOB DATE</th>
                                                <th width="150">REQUEST BY</th> 
                                                <th>DATE OF APPLICATION</th>
                                                <th width="150">JOB STATUS</th>                                        
                                            </tr>
                                        </thead>                                        
                                        <tbody> 
                                             <tr>                                                  
                                                  <td>321234</td> 
                                                  <td>ICT ASSISTANT</td>  
                                                  <td>JAN 28, 2018</td>  
                                                  <td>DICTS</td> 
                                                  <td>FEB 28, 2018</td>
                                                  <td>
                                                     <span>Pending!</span><br><br>
                                                     <span>Processed!</span><br><br>
                                                     <span>Interview arranged on 28th March, 2018</span><br><br>
                                                     <span>Interview completed!</span><br><br>
                                                     <span>Appointment granted,<br>( <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF ACCEPTING THIS OFFER?')) return false;" href="" style="color:crimson">ACCEPT</a> or <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF REJECTING THIS OFFER?')) return false;" href="" style="color:crimson">REJECT</a> )</span><br><br>
                                                     <span>Closed!</span><br>                                                    
                                                  </td>                                                                                                                          
                                              </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                          </div>

                          <div class="resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-1">
                              <!-- TITLE -->
                              <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                  <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;padding-top:10px">LETTERS & INBOX</h3></div>
                                  <div class="col-md-6"><a href="" class="btn btn-primary pull-right">Apply for Appointment</a></div>
                              </div>
                              <!-- INBOX CONTENT -->                             
                             <div class="table-responsive clearfix">                                
                                 <table class="table table-bordered  dataTable appoint_category">
                                    <thead>
                                        <tr>
                                            <th width="80">LETTER ID</th>
                                            <th width="150">LETTER TITLE</th>                                                                                    
                                            <th width="100">LETTER DATE</th>
                                            <th width="150">SENDER</th> 
                                            <th>MEMBERS</th>
                                            <th width="75">ACTION</th>                                        
                                        </tr>
                                    </thead>                                        
                                    <tbody> 
                                         <tr>                                                  
                                              <td>321234</td> 
                                              <td>ASSUMPTION OF JOB</td>  
                                              <td>FEB 28, 2018</td>  
                                              <td>DIRECTORATE OF HUMAN RESOURCE</td> 
                                              <td>
                                                 <span>Director of Finance</span><br/>
                                                 <span>Director of Internal Audit</span><br/>
                                                 <span>Director, DICTS</span><br/>
                                                 <span>P/C file</span><br/>
                                                 <span>HRIS Unit</span><br/>
                                              </td>
                                              <td>
                                                 <a onclick="if(!confirm('VIEW LETTER ?')) return false;" href="" style="color:crimson">VIEW LETTER</a> 
                                              </td>  
                                          </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                          </div>

                          <div class="resp-tab-content tabs-group-default resp-tab-content-active" aria-labelledby="tabs-group-default_tab_item-2" style="display:block">
                                <!-- TITLE -->
                                <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                    <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;padding-top:10px">PROMOTION</h3></div>
                                    <div class="col-md-6"><a href="" class="btn btn-primary pull-right">Apply for New Promotion</a></div>
                                </div>
                            
                                <!-- PROMOTION -->
                                <div class="table-responsive clearfix">
                                  <table class="table table-bordered  dataTable appoint_category">
                                      <thead>
                                          <tr>
                                              <th width="80">ID</th>
                                              <th width="150">PROMOTION TO</th>                                                                                    
                                              <th width="150">PRESENT POST</th>
                                              <th width="150">PRESENT APPOINTMENT DATE</th> 
                                              <th>PROMOTION STATUS</th>                                                                                    
                                          </tr>
                                      </thead>                                        
                                      <tbody> 
                                          <tr>                                                  
                                                <td>321234</td> 
                                                <td>SENIOR LECTURER</td>  
                                                <td>ASSISTANT LECTURER</td>  
                                                <td>FEBRUARY 7, 2011</td> 
                                                <td>                                                   
                                                    <span>PROCESSING!</span><br><br>
                                                    <span>INTERVIEWED STAGED ON MARCH 28, 2018</span><br><br>
                                                    <span>INTERVIEW COMPLETED!</span><br><br>
                                                    <span>APPOINTMENT GRANTED,<br>( <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF ACCEPTING THIS OFFER?')) return false;" href="" style="color:crimson">ACCEPT</a> or <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF REJECTING THIS OFFER?')) return false;" href="" style="color:crimson">REJECT</a> )</span><br><br>
                                                    <span>CLOSED!</span><br>                                                    
                                                 </td>     
                                            </tr>
                                          
                                      </tbody>
                                  </table>
                              </div>
                          </div>



                          <div class="resp-tab-content tabs-group-default resp-tab-content-active" aria-labelledby="tabs-group-default_tab_item-3" style="display:block">
                              <!-- TITLE -->
                              <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                  <div class="col-md-6"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;padding-top:10px">TRANSFER</h3></div>
                                  <div class="col-md-6"><a href="" class="btn btn-primary pull-right">Apply for Transfer</a></div>
                              </div>
                          
                              <!-- TRANSFER -->
                              <div class="table-responsive clearfix">
                                <table class="table table-bordered  dataTable appoint_category">
                                    <thead>
                                        <tr>
                                            <th width="80">ID</th>
                                            <th width="150">TRANSFER TO</th>                                                                                    
                                            <th width="150">TRANSFER FROM</th>
                                            <th width="150">REQUESTED BY</th> 
                                            <th width="150">REQUEST DATE</th>
                                            <th>TRANSFER STATUS</th>                                                                                    
                                        </tr>
                                    </thead>                                        
                                    <tbody> 
                                        <tr>                                                  
                                              <td>321234</td> 
                                              <td>AWAITING...</td>  
                                              <td>DICTS-MIS</td>
                                              <td>HR | STAFF | HEAD OF UNIT</td>   
                                              <td>FEBRUARY 7, 2011</td> 
                                              <td>
                                                  <span>PROCESSING!</span><br><br>                                       
                                                  <span>TRANSFER GRANTED,<br>( <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF ACCEPTING THIS OFFER?')) return false;" href="" style="color:crimson">ACCEPT</a> or <a onclick="if(!confirm('YOU ARE IN THE PROCESS OF REJECTING THIS OFFER?')) return false;" href="" style="color:crimson">REJECT</a> )</span><br><br>
                                                  <span>CLOSED!</span><br>                                                    
                                               </td>     
                                          </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                          </div>


                          <div class="resp-tab-content tabs-group-default resp-tab-content-active" aria-labelledby="tabs-group-default_tab_item-4" style="display:block">
                              <!-- TITLE -->
                              <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                  <div class="col-md-2"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;padding-top:10px">LEAVE</h3></div>
                                  <div class="col-md-10">
                                      <a href="javascript:;" class="" style="margin-left:10px;">ENTITLEMENT: <span style="color:yellow">101</span> DAYS</a> |
                                      <a href="javascript:;" class="" style="margin-left:10px">OUTSTANDING: <span style="color:yellow">34</span> DAYS</a> |
                                      <a href="javascript:;" class="" style="margin-left:10px">LEAVE DUE: <span style="color:yellow">67</span> DAYS</a>
                                      <a href="" class="btn btn-primary pull-right" style="margin-left:10px">Apply for Study Leave</a>
                                      <a href="" class="btn btn-primary pull-right">Apply for Leave</a>
                                  </div>
                              </div>
                          
                              <!-- LEAVE -->
                              <div class="table-responsive clearfix">
                                <table class="table table-bordered  dataTable appoint_category">
                                    <thead>
                                        <tr>
                                            <th width="80">ID</th>
                                            <th width="150">START DATE ( FROM )</th>                                                                                    
                                            <th width="150">END DATE ( TO )</th>
                                            <th width="150">RESUMPTION DATE</th> 
                                            <th width="150">APPROVED DAYS</th>
                                            <th>LEAVE STATUS</th>                                                                                    
                                        </tr>
                                    </thead>                                        
                                    <tbody> 
                                        <tr>                                                  
                                              <td>321234</td> 
                                              <td>FEBRUARY 7, 2018</td>  
                                              <td>MARCH 27, 2018</td>
                                              <td>MARCH 28, 2018</td>   
                                              <td>36 DAYS</td> 
                                              <td>
                                                  <span>PENDING!</span><br><br>
                                                  <span>PROCESSING!</span><br><br>                                       
                                                  <span>GRANTED!</span><br><br>
                                                  <span>DEFFERED!</span><br>                                                    
                                               </td>     
                                          </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                          </div>



                          <div class="resp-tab-content tabs-group-default resp-tab-content-active" aria-labelledby="tabs-group-default_tab_item-5" style="display:block">
                              <!-- TITLE -->
                              <div class="row" style="background:#0d2d62;color:#fff;margin:-40px 0px 40px;border-radius:45px;padding:15px 20px;font-style:italic">
                                  <div class="col-md-2"><h3 style="color:#bbb;font-size:23px;font-weight:bold;letter-spacing:0.25em;padding-top:10px">APPRAISAL</h3></div>
                                  <div class="col-md-10">
                                     <a href="" class="btn btn-primary pull-right">Fill Appraisal form</a>
                                  </div>
                              </div>
                          
                              <!-- APPRAISAL -->
                              <div class="table-responsive clearfix">
                                <table class="table table-bordered  dataTable appoint_category">
                                    <thead>
                                        <tr>
                                            <th width="80">ID</th>
                                            <th width="150">DATE OF APPRAISAL</th>                                                                                    
                                            <th width="150">APPRAISED SCORE</th>
                                            <th width="150">ENDORSED BY</th> 
                                            <th width="150">DESIGNATION</th>
                                            <th>STATUS</th>                                                                                    
                                        </tr>
                                    </thead>                                        
                                    <tbody> 
                                        <tr>                                                  
                                              <td>321234</td> 
                                              <td>FEBRUARY 7, 2018</td>  
                                              <td>37 ( OUT OF 50 )</td>
                                              <td>DR. ALBERT MENU ASIAW</td>   
                                              <td>FACULTY OF EDUCATION</td> 
                                              <td>
                                                  <span>PROCESSED!</span><br><br>                                                                                                
                                              </td>     
                                          </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                          </div>






                        </div>
                      </div>
                    </div>
                  </div>
              
            </div>
          </div>
        </section>
        <section class="offset-top-110">
          
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <!-- Corporate footer-->
      <footer class="page-footer">
        <div class="shell-wide">
          <div class="hr bg-gray-light"></div>
        </div>
       
        <div class="bg-madison context-dark">
          <div class="shell text-md-left section-5">
            <p>Copyright &copy; <span id="copyright-year"></span> DICTS, All Rights Reserved.</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
   
    <!-- Java script-->
    <script src="/public/js/jquery/jquery.min.js"></script>
    <script src="/public/js/bootstrap/js/bootstrap.js"></script>
    <script src="/public/js/script.js"></script>
     <!-- Jquery DataTable Plugin Js -->
    
     <script src="/public/js/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/jszip.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/pdfmake.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/vfs_fonts.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
     <script src="/public/js/jquery-datatable/extensions/export/buttons.print.min.js"></script>

     <script type="text/javascript">
      $(function () {
              $('.appoint_category').DataTable({
                  dom: 'Bfrtip',
                  responsive: true,
                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print'
                  ]
              });

              //Exportable table
              $('.appoint_letter').DataTable({
                  dom: 'Bfrtip',
                  responsive: true,
                  buttons: [
                      'copy', 'csv', 'excel', 'pdf', 'print'
                  ]
              });
          });


          $(function () {
                $('.js-basic-example').DataTable({
                    responsive: true
                });

                //Exportable table
                $('.js-exportable').DataTable({
                    dom: 'Bfrtip',
                    responsive: true,
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
        });
     </script>

  </body>
</html>
