<!DOCTYPE>
<html lang="en">
<head>
    <title>APPOINTMENT LETTER</title>
    <link href="http://www.allfont.de/allfont.css?fonts=arial-narrow" rel="stylesheet" type="text/css" />
    <style type="text/css" >
          body{
            background-color:#eee;              
          }

          .cover{
              width: 920px;             
              margin: 10px auto;  
              box-shadow:2px 2px 4px #999;
              padding:20px 35px; 
              background:#fff;           
          }

          .title{
              text-align: center;
              font-size:34px;
              color: rgb(8, 8, 148); 
          }

          .subtitle{
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              font-weight:bolder;
              text-align: center;
              font-size:25px;
              word-spacing:0.5em;
              color: red;
              font-style:italic;
              margin-top:-15px;
          }

          .subnote{
             position: relative;
             height:115px;             
          }

          .cover_adds{
              position:absolute;
              left:0;
              top:0; 
              font-size:12px;
              color:rgb(8, 8, 148); 
              line-height:18px;           
          }

         .ucc_title{
              position:absolute;
              right:0;
              top:0; 
              text-align:right; 
              font-size:18px;
              line-height:25px;
              word-spacing:0.35em;
              font-weight:bold;                         
          }
          .ucc_logo{
            position:absolute;
            left:43.9%;
            top:0;   
            height: 120px;  
            width: 120px;                 
          }

          content{
              font-family:'Arial Narrow', Arial, sans-serif;
              font-size: 17px;
              display:block;
              padding-top: 50px;
          }

          address{
              font-style:normal;
          }

          .signatory{
              width:200px;
              height:130px;
              background-image:url(/public/images/logo-170x172.png);
              background-repeat: no-repeat;             
              background-position: 0% 0%;
              background-size: 200px 65px;
              position: relative;
          }

          .signer{
              position:absolute;
              left:0;
              bottom:0;
          }

          .salute{
              margin-top:20px;
          }

          .ref{
              margin-bottom:20px;
          }

          .end{
              position:relative;              
          }

          .copies{
              position: absolute;
              right:25%;
              top: 0;
          }

          footer{
              margin:80px 0 10px;
              font-size:10px;
              font-family:cursive;
              font-style:italic;
          }

          @media print {
              body{
                  background:none;
              }

              .cover{
                  padding:0;
                  background:none;
                  box-shadow:none;
              }
          }

    </style>
</head>
<body>
    <div class="cover">
          <header>
              <h1 class="title">UNIVERSITY OF CAPE COAST</h1>
              <h2 class="subtitle">DIRECTORATE OF HUMAN RESOURCE</h2>
              <div class="subnote">
                    <div class="cover_adds">
                        <dl class="note">
                            <dt>Cellphone:  <div style="display:inline-block;vertical-align:top;font-weight:bold;">+233-3321-32480/3 Exts.: 223/225/205<br>233-3321-32484/5</div></dt>
                            <dt>E-mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">dhr.enquiries@ucc.edu.gh</div></dt>
                            <dt>Website:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline-block;vertical-align:top;font-weight:bold;">www.ucc.edu.gh</div></dt>                   
                        </dl>
                        <div style="margin-top:20px;"><em>In case of reply please qoute:</em></div>
                    </div>
                
                  
                  <img src="/public/images/logo-170x172.png" alt="UCC LOGO" class="ucc_logo"/>
                  <address class="ucc_title">
                          UNIVERSITY POST OFFICE<br/>
                          CAPE COAST, GHANA
                  </address>
              </div>
          </header>  
          <content>
              <div class="ref"><span>Our Ref: DHRC/10</span></div>
              <div class="receiver">
                   <address>
                       Mr. Ebenezer Kwabena Blay Ackah<br/>
                       <sup>C</sup>/<sub>O</sub> Dodowa Health Research Center<br>
                       P.O.Box DD1<br>
                       Dodowa
                   </address>
              </div>
              <div class="salute">Dear Sir,</div>
              <h4 class="heading">APPOINTMENT AS SENIOR ICT ASSISTANT</h4>
              <div class="content">
                  <p>Following your success at the interview on 24th January, 2018, we write on befalf of the Vice-Chancellot, to offer you apointment as <b>Senior ICT Assistant</b> 
                  at the Directorate of ICT Services in this University. You will be reponsible to the Director but your ultimate responsibility will, however, be to the Vice-Chancellor through the Registrar.</p>
                  <p>The appointment takes effect from the date on which you assume duty. You will be on probation for one year during which work and conduct will be monitored and assesed, and if found to be satisfactory, your appointment will be confirmed.</p>
                  <p>However if your work and conduct are found to be unsatisfactory during the period of pobation, the appointment will be terminated without notice.</p>
                  <p>The appointment is full-time and any additional duties which you may on your own undertake outside its scope must be with the express approval of the Registrar on the recommendation of the Director. 
                     This includes undertaking a course of study inside or outside the University on full-time or part-time basis. For violation of any or all of these rules, you shall make yourself liable for disciplinary action.</p>
                  <p>The salary scale attached to the post is <b>GH¢22,408.55 - GH¢23,971.62</b> and you will be commencing on the scale <b>GH¢22,408.55 per annum (SSSS 17H, Step 1).</b></p>
                  <p>You will be expected to contribute 5<sup><sub>1</sub></sup>/<sub><sup>2</sup></sub>% of your salary towards the Social Security Fund. The University will contribute 13% on your behalf. If you do not already have a Social Security Number, you are advised to contact the SSNIT office for registration.</p>
                  <p>The University will require a medical certificate testifying that you are medically fit for employment. You are therefore required to present the enclosed form to the Director, Directorate of University Health Services who will conduct the medical examination and submit his report to us.</p>
                  <p>You are expected to complete the attached forms, with two passport-sized photographs of yourself and that of your spouse (if any) and return same to us <b><u>before</u></b> you assume duty.</u></p>
                  <p>In addition to the above conditions, your appointment will be governed by such regulations as may be currently in force or embodied in circulars and instructions issued from time to time by the University.</p>
                  <p>Please, let us know in writing whether you accept the appointment on the above stated terms.</p>
                  <p>Yours faithfully,</p>
              </div>
              <div class="end">
                   <div class="signatory">
                       <div class="signer"><span>John Kofi Nyan</span><br><b>REGISTRAR</b></div>
                   </div>
                   <div class="copies">
                        <dl class="note">
                            <dt>CC:  
                                  <div style="display:inline-block;vertical-align:top;margin-left:15px">
                                      <div>Director of Finance</div>
                                      <div>Director of Internal Audit</div>
                                      <div>Director, DICTS</div>
                                      <div>P/C File</div>
                                      <div>HR Unit</div>
                                  </div>
                           </dt>
                        </dl>
                   </div>
              </div>               
          </content>
          <footer>
              <span>Liz</span>
          </footer>        
    </div>
</body>
</html>